<div class="container">
  <div class="row">
    <div class="col text-center" style="position: relative;">
      <img
        style="width: 100%"
        src="../../../assets/tomato-svgrepo-com-green.svg"
        alt="tomato-image"
      />
      <div
        class="timer text-center"
        style="
          position: absolute;
          width: 200px;
          height: 80px;
          top: 50%;
          right: 0px;
          left: 0px;
          margin: auto;
        "
      >
        <p class="fs-1">{{ minute }}:{{ second }}</p>
      </div>
    </div>
  </div>
  <div class="row" style="height: 40px">
    <div class="col text-center p-1">
      <p class="fs-6">{{ taskSelected }}</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col btn-group">
      <button type="button" class="btn btn-outline-secondary" (click)="start()">
        Start
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="pause()">
        Pause
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="reset()">
        Reset
      </button>
    </div>
  </div>
</div>
